:root{
    /* Color */
    --white-color:#fff;
    --black-color:#140a00;
    --blue-color:#045fd4;
    --red--color:#ff0000;
    --grey--dark-color:#909090;
    --grey-light-color:#e0e0e0bb;
    /* Size */
    --side-padding:12px;
    --avatar-size:36px;
    /*Font Size */
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Roboto;
}
ul{
    list-style: none;
}
li{
    list-style: none;

}
button,
button:focus{
    border: none;
    cursor: pointer;
    outline: none;
}
/*Header */
header{
    display: flex;
    justify-content: space-between;
    padding: var(--side-padding);
    background-color: var(--black-color);
    color: var(--white-color);
}
header .logo{
    font-size: var(--font-large);
}
header .logo i {
    color: var(--red--color);
}
header .icons .fa-search{
    margin-right: var(--side-padding);
}

/* Video */
.player{
    text-align: center;
    background-color: var(--black-color);
    position: sticky;
    top: 0;
}
.player video{
    width: 100%;
    height: 100%;
    max-width: 900px;
}
body >.info{
    padding: var(--side-padding);
}

.info .metadata .hashtags{
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}
.info .metadata .hashtags li{
    padding-right:12px;
}

.info .metadata .titleAndBtn{
    display: flex;
}
.info .metadata .titleAndBtn .title{
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--side-padding);
}
.info .metadata .titleAndBtn .moreBtn{
    height: 100%;
}
.info .views{
    font-size: var(--font-small);
    color: var(--grey--dark-color);
}
.actions{
    display: flex;
    justify-content: space-around;
    margin: var(--side-padding);
}
.info .actions button{
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
}
.info .actions button i{
    margin-bottom: 6px;
    margin: 0 auto;
    font-size: 16px;
    color: var(--grey--dark-color);
}
.info .actions button i.active{
    color: var(--blue-color);
}
/*channel Description */
.info .channel{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);

}
.channel .metadata{
    display: flex;
    align-items: center;
}
.channel .metadata .info{
    display: flex;
    flex-direction: column;
}
.info .channel .metadata img{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    margin-right: 12px;
}
.info .channel .metadata .info .name{
    font-size: var(--font-medium);
}
.info .channel .metadata .info .subscribers{
    font-size: var(--font-small);
    color: var(--grey--dark-color);
}
.info .channel .subscribe{
    text-transform: uppercase;
    color: red;
    font-size: var(--font-medium);
    background-color: var(--white-color);
}

/* UpNext */
.UpNext{
    padding: 0 12px;
}
.UpNext > .title{
    font-size: var(--font-medium);
    color: var(--grey--dark-color);
    margin-bottom: 6px;
}

.UpNext .item .img{
    flex: 1 1 35%;
    margin-right: 12px;
}
.UpNext .item .img img{
    width: 100%;
}
.UpNext .item .info{
    flex: 1 1 60%;
}
.UpNext .item .moreBtn{
    flex: 1 1 5%;
}
.UpNext .item{
    display: flex;
    margin-top: var(--side-padding);
}
.UpNext .item .info{
    display: flex;
    flex-direction: column;
}
.UpNext .item .info .title{
    font-size: var(--font-small);
}
.UpNext .item .info .name,
.UpNext .item .info .views {
    font-size: var(--font-micro);
    color:var(--grey--dark-color);
}
.infoAndUpNext{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.more{
    background-color: var(--white-color);

}
@media screen and (min-width: 768px){
    .infoAndUpNext{
        flex-direction: row;
        margin: var(--side-padding);
    }
}